@keyframes loop {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
.sky {
  width: 100%;
  height: 100vh; }
  .sky .sky__cloud {
    color: #2C3E50; }
  .sky .sky__cloud--1 {
    font-size: 20rem;
    position: absolute;
    top: 50%;
    left: 20%; }
  .sky .sky__cloud--2 {
    font-size: 15rem;
    position: absolute;
    top: 30%;
    right: 30%; }

.loading-screen {
  background: #22313F;
  min-height: 100vh;
  width: 100%;
  display: flex;
  color: #F2F1EF;
  align-items: center;
  justify-content: center;
  font-size: 3rem; }
  .loading-screen .loading-screen__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .loading-screen .loading-screen__icon {
    font-size: 7rem; }
  .loading-screen .loading-screen__icon--App-Logo {
    font-size: 10rem;
    padding-bottom: 30px;
    filter: brightness(100%); }
  .loading-screen .loading-screen__icon--loop {
    -webkit-animation: loop 4s linear infinite;
    -moz-animation: loop 4s linear infinite;
    animation: loop 4s linear infinite; }

.ranking-view {
  background: #22313F;
  color: #F2F1EF; }
  .ranking-view .ranking-view__header {
    text-align: center; }
    .ranking-view .ranking-view__header h1 {
      padding: 10px 0; }
    .ranking-view .ranking-view__header img {
      max-width: 100px; }

.contributors-list {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0; }

.contributors-list__item {
  width: 100%;
  text-align: center;
  margin: 25px 0;
  padding: 20px;
  transition: .3s all ease-out; }
  .contributors-list__item .contributors-list__item__row {
    margin: 0; }
  .contributors-list__item .contriburors-list__image-holder {
    width: 100%;
    background: #2C3E50; }
  .contributors-list__item .contributors-list__item__link {
    text-decoration: none;
    color: #F2F1EF; }
  .contributors-list__item .contributors-list__item__row {
    padding: 20px 0;
    background: #34495E; }
  .contributors-list__item:hover {
    background: rgba(0, 0, 0, 0.75); }
  .contributors-list__item p.contributors-list__item__name {
    font-size: 3rem;
    margin: 0px 30px 25px; }
  .contributors-list__item p {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 1.5rem; }
    .contributors-list__item p span {
      margin-bottom: 10px; }
  .contributors-list__item img {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin: 30px 0;
    border-radius: 50%; }
  .contributors-list__item:nth-child(n+2) {
    width: 50%; }
    .contributors-list__item:nth-child(n+2) img {
      max-width: 200px; }
  .contributors-list__item:nth-child(n+4) {
    width: 33%;
    margin: 15px 0;
    padding: 10px; }
    .contributors-list__item:nth-child(n+4) img {
      max-width: 130px;
      margin: 15px 0; }
  .contributors-list__item:nth-child(n+22) {
    width: 5%;
    margin: 10px 0;
    padding: 0;
    filter: grayscale(100%) brightness(50%); }
    .contributors-list__item:nth-child(n+22):hover {
      filter: grayscale(0%);
      background: none; }
    .contributors-list__item:nth-child(n+22) img {
      max-width: 50px;
      margin: 0; }
    .contributors-list__item:nth-child(n+22) .contriburors-list__image-holder {
      width: 100%;
      background: none; }
    .contributors-list__item:nth-child(n+22) .contributors-list__item__row {
      display: none; }

@media (max-width: 992px) {
  .contributors-list__item {
    width: 100%;
    text-align: center;
    margin: 25px 0;
    padding: 20px;
    transition: .3s all ease-out; }
    .contributors-list__item p.contributors-list__item__name {
      font-size: 2rem; }
    .contributors-list__item p {
      font-size: 1.5rem; }
    .contributors-list__item:nth-child(n+2) {
      width: 50%;
      margin: 0;
      padding: 10px; }
    .contributors-list__item:nth-child(n+4) {
      width: 50%;
      margin: 0px 0;
      padding: 10px; }
    .contributors-list__item:nth-child(n+22) {
      width: 10%;
      margin: 1px 0;
      padding: 0;
      filter: grayscale(50%) brightness(100%); } }

/*# sourceMappingURL=DashboardView.css.map */
