$mainBgColor: #22313F;
$secondaryColor: #F2F1EF;
$cloudColor: #2C3E50;
$rowColor: #34495E;
$hoverColor: #6BB9F0;
$widthList: 100, 50, 25, 10;
$fontSize: 10rem;

@keyframes loop {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

body {
  background: $mainBgColor;
  color: $secondaryColor;
  font-size: 1.5rem;

  h1 {
    text-align: center;
    margin: 40px 0 0 0;
    padding: 25px 0;
  }
}

.contributor-view {
  margin: 30px 0;
  padding: 30px 0;
  background: $rowColor;

  .contributor-view__details__image-holder {
    text-align: center;
  }

  img {
    height: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
  }
}

.repos-list {
  padding: 0;
  margin: 25px 0;
  text-align: center;
  transition: .3s all ease-out;

  .repos-list__item {
    height: 100px;
    padding: 5px;
    transition: .3s all ease-out;

    .repo-list__item__link{
      text-decoration: none;
      color: $secondaryColor;
    }

    .repo-list__item__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $mainBgColor;
      color: $secondaryColor;
      width: 100%;
      height: 100%;
      transition: .3s all ease-out;

      &:hover {
        background: $hoverColor;
        color: $mainBgColor
      }
    }

    p {
      word-wrap: break-word;
      text-transform: uppercase;
    }
  }
}

.repos-list__loading {
  text-align: center;

  .loading-screen__icon {
    font-size: 7rem;
  }

  .loading-screen__icon--loop {
    -webkit-animation: loop 4s linear infinite;
    -moz-animation: loop 4s linear infinite;
    animation: loop 4s linear infinite;
  }
}

@media(max-width: 992px) {
  .contributor-view {
    text-align: center;

    .contributor-view__details__image-holder {
      padding: 30px 0;
    }

  }
}



